samples/StepsCarousel/StepsCarousel/bin/
samples/StepsCarousel/StepsCarouselTests/bin/
samples/StepsCarousel/StepsCarouselTests/run_tests.bat
samples/CalculatedField/CalculatedField/bin/
samples/CalculatedField/CalculatedFieldTests/bin/
tutorials/tutorial-01/StepsCarousel/bin/
